body{
    background-color: rgb(255, 192, 96);
}
header{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2.3rem;}

    a{
        text-decoration: none;
        font-size: 1.4rem;
        color: white;
    }
    
    a:hover{
        text-decoration: underline;
        font-size: 1.6rem}

        .uhu{
            font-weight: normal;
font-size: 1.9rem;
color: white;
background-color: black;
        }

        p{color: black;font-size:1.5rem;}

        footer{ color: white;
            background-color: black;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            font-size: 2rem;}

img{
width:95%;
display: block;
margin-left: auto;
margin-right: auto;
   }
